<form action="your-server-side-code" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_bpXPGoq08K5ajO8pGxWWH4cH"
    data-amount="<%= @product.price %>"
    data-name="<%= @product.name %>"
    data-description="<%= @product.description %>"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
    <%= hidden_field_tag(:product_id, "@product_id") %>
  </script>
</form>